build/
NetrwTreeListing

# text editor metadata
compile_commands.json
tags
.vscode/*
*.swp

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeUserPresets.json
cmake-build-debug

.env
.antlr
.venv

# MACOS
.DS_Store

# other
.cache
.idea

src/targets/experiments/stocks/expected_results
src/targets/experiments/smart_homes/expected_results
src/targets/experiments/taxis/expected_results
src/targets/experiments/taxis/taxi_data.csv
src/targets/experiments/smart_homes/benchmark.csv
src/targets/experiments/stocks/benchmark.csv
src/targets/experiments/taxis/benchmark.csv

.direnv

events_*

__pycache__
logs
expected_results/
src/targets/experiments/maritime/1M.csv
src/targets/experiments/maritime/1M_sorted.csv
src/targets/experiments/maritime/1M_unsorted.csv
src/targets/experiments/maritime/1M_unsorted2.csv
src/targets/experiments/unordered_stocks/test.csv
src/targets/experiments/fires/CSV/Fire_direct.csv
src/targets/experiments/fires/CSV/Fire_no_duplicates_direct.csv
src/targets/experiments/fires/CSV/Fire_no_duplicates_wait.csv
src/targets/experiments/fires/CSV/Fire_wait.csv
src/targets/experiments/crypto/FUTURES_top5_symbols_high_delays.csv
src/targets/experiments/crypto/FUTURES_top5_symbols_low_delays.csv
experiments/experiment.py
.gitignore
src/targets/experiments/aviation/CSV/aviation.csv
src/targets/experiments/crypto/CSV/crypto.csv
src/targets/experiments/fires/CSV/fires.csv
src/targets/experiments/fires/CSV/fires_sorted.csv
src/targets/experiments/crypto/CSV/crypto_sorted.csv
src/targets/experiments/aviation/CSV/aviation_sorted.csv
